name: 21 - working with environments
run-name: "16 - working with Environments | env - ${{ inputs.target-env }}"

on:
  workflow_dispatch:
    inputs:
      target-env:
        type: environment
        default: staging
    

jobs:
  echo:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target-env }}
    env:
      my-env-value: ${{ vars.MY_ENV_VALUE || 'default value'}}
  
    steps:
      - name: Echo vars
        run: |
          echo "environment= ${{ inputs.target-env }}"
          echo "my-env-value= ${{ env.MY_ENV_VALUE}} "




