on:  
 push:  
    worflow_dispatch:  
  
  
jobs:  
  build:  
   runs-on: windows-latest  
   steps:  
    - uses: actions/checkout@v1  
    - uses: azure/login@v1  
      with:  
        creds: ${{ secrets.AZURE_CREDENTIALS }}  

    - run:
        az webapp list --query

    # Azure logout   
    - name: logout  
      run: |  
           az logout